@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

/* normal text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo&family=Arimo&family=Audiowide&family=Barlow+Condensed&family=Bitter&family=Catamaran&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300&family=Fjalla+One&family=Heebo:wght@400;600&family=Hind&family=IBM+Plex+Sans:wght@200&family=Inter:wght@500;600&family=Lato:wght@300;400;700&family=League+Spartan&family=Libre+Franklin&family=Lora:ital@1&family=M+PLUS+1&family=Montserrat:wght@300;400&family=Mulish:ital,wght@0,200;0,500;1,300&family=Nunito&family=Open+Sans&family=Oswald&family=Overpass&family=PT+Sans:wght@700&family=PT+Serif&family=Philosopher:ital@1&family=Poppins&family=Questrial&family=Red+Hat+Display&family=Roboto+Condensed&family=Roboto+Serif:wght@300;400&family=Roboto:wght@300;400;500;900&family=Rubik:wght@300&family=Secular+One&family=Smooch+Sans&family=Source+Sans+Pro:wght@300;400&family=Ubuntu&family=Varela+Round&family=Yellowtail&display=swap');

/* heading text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 750px;
  margin: auto;
  position: relative;
}
.container{
  width: 100%;
  box-shadow: 0px 0px 7px 2px #cfc9c9;
  background-color: rgb(243, 243, 243);
  /* padding: 1.2rem; */
  font-family: Lato;
  line-height: 22px;
  margin-top: 30px;
  font-size: 14px;
}
.first-div{
  text-align: center;
  padding-top: 30px;
}
.frist-one-one{
  display: inline-block;
  margin: 0.5rem 0 2.0rem 0;
  padding-bottom: 30px;
}
.name{
  font-family: Roboto Serif;
  font-size:36px;
  letter-spacing: .2rem;
  color: rgb(39, 39, 39);
  margin-bottom: 15px;
  position: relative;
  left: 112px;
}
.post-para{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: .6rem;
  font-weight: 500;
  color: rgb(76 74 74);
  font-size: 1.2rem;
  position: relative;
  left: 110px;
}
.first-two{
  background-color: white;
  padding: 1.3rem;
}
.statement-para{
  margin-top: .7rem;
  margin-bottom: 1.5rem;
}
.second-div{
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 1.7rem;
  background-color: white;
  margin-top: .5rem;
  padding: 1.9rem;
}
.education-paragraph2{
  margin-top: 1.0rem;
  margin-bottom: 1.9rem;
}
.education-name{
  /* font-size: .9rem; */
  margin-top: .2rem;
  margin-bottom: .2rem;
}
.list-para{
  margin-bottom: .4rem;
}
.address,.phone,.email{
  display: grid;
  grid-template-columns: .7rem 1fr;
  column-gap: 1.5rem;
  padding-bottom: .3rem;
}
.para-location{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
span{
  position: absolute;
  right: 38px;
}
.big-para{
  margin-top: .9rem;
  margin-bottom: .9rem;
}
.para-li{
  margin-left: .9rem;
}
.li-span{
  position: relative;
  right: 80.0rem;
}
.title{
  margin-top: 1.5rem;
  margin-bottom: .3rem;
}

.contact2{
  padding-left: -13rem;
  position: relative;
  right: .7rem;
}
.third-div{
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 1.7rem;
  padding-left: 1.9rem;
  padding-bottom: 40px;
}
.vr{
  border-left: 2px solid rgb(196, 194, 194);
  height:640px;
  position: absolute;
  top: 27rem;
  left: 17rem;
}
.experiance{
  margin-right: 1.5rem;
}
.heading-education,.heading-expertise,.heading-experiances,.heading-certi,.heading-lang,.heading-references,.heading-experiance{
  margin-top: .5rem;
  margin-bottom: 1.3rem;
  font-family: Libre Franklin;
}
.heading-contact,.heading-projects{
  margin-top: 1.6rem;
  margin-bottom: 1.3rem;
  font-family: Libre Franklin;  
}
.references li{
  list-style: none;
}
.para-refer{
  display: grid;
  grid-template-columns:70% 70%;
  column-gap: 1.0rem;
  padding: .5rem;
}
.para1,.para2{
  display: inline-block;
  /* border: 2px solid black; */
}
.heading-statement{
  font-family: Libre Franklin;
}



.forth-div{
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  /* display: none;   */
}
.forth-one{
  padding: 0 30px;
}
.forth-two{
  padding: 0 20px;
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.certi-p1{
  margin-bottom: 10px;
}
.date{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.certi2{
  position: relative;
  left: 70px;
}
.references{
  position: relative;
  left: 39px;
}
.contact i{
  position: relative;
  top: 5px;
}
.progressbar{
  width: 70%;
  height: 7px;
  background-color: #cfc9c9;
  margin-bottom: 10px;
}
.fill{
  background-color: rgb(29, 28, 28);
  height: 100%;
}
.fill1{
  width: 80%;
}
.fill2{
  width: 90%;
}
.fill3{
  width: 85%;
}
.fill4{
  width: 70%;
}
.fill5{
  width: 87%;
}
.fill6{
  width: 91%;
}
.p-link{
  color: rgb(70, 70, 160);
  margin-bottom: 10px;
}
.insta,.Twitter,.linkedin{
  display: grid;
  grid-template-columns:8% 1fr;
  column-gap: 10px;
}
.social i{
  font-size: 18px;
  position: relative;
  top: 1px;
}
.social{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
}
.Twitter{
  position: relative;
  left: 72px;
}
.linkedin{
  position: relative;
  left: 45px;
}
.social-para{
  font-weight: 600;
}
.img{
  position: absolute;
  left: 42px;
  top: 72px;
  width: 146px;
  height: 141px;
  border-radius: 50%;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.first-hr{
  position: relative;
  left: 116px;
  width: 481px;
}
