@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

/* normal text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:wght@300&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');

/* heading text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  margin: auto;
  width: 750px;
}
.container{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 7px 2px #cfc9c9;
  display: grid;
  grid-template-columns: 40% 1fr;
  font-size: 14.4px;
  font-family: PT Serif;
  /* column-gap: 20px; */
}
.first-div{
  /* border: 2px solid gray; */
  padding: 20px;
  padding-bottom: 0;
  background-color: #242323;
  color: rgb(187, 185, 185);
}
.progrssbar{
  width: 80%;
  height: 2px;
  background-color: gray;
  margin-bottom: -3px;
}
.fill{
  background-color: rgb(138, 91, 4);
  height: 100%;
}
.fillprogess-skill-1{
  width: 85%;
}
.fillprogess-skill-2{
  width: 80%;
}
.fillprogess-skill-3{
  width: 90%;
}
.fillprogess-skill-4{
  width: 95%;
}
.percent{
  text-align: right;
  position: relative;
  top: -10.2px;
  left: 85%;
  /* font-size: 14px; */
  display: inline-block;
}
.point{
  width: 9px;
  height: 9px;
  background-color: whitesmoke;
  border: 2px solid rgb(138, 91, 4);
  border-radius: 50%;
  position: relative;
  bottom: 3px;
  /* text-align: right; */
  float: right;
}
.img-para{
  /* display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 10px; */
  background-color: rgb(236, 157, 10);
  padding: 30px;
}
.name{
  font-size: 24px;
  letter-spacing: 2px;}
.para{
  position: relative;
  top: 28px;
  left: -4px;
}
.black-box{
  width: 40px;
  height: 70px;
  background-color: #242323;
  position: absolute;
  top: 0;
  right: 22px;
}
.img{
  width: 135px;
  height: 130px;
  border: 2px solid white;
  border-radius: 50%;
}
.img img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.para-hr{
  width: 83%;
}
.sub-second{
  padding: 20px;
  padding-top: 20px;
}
.sub-education{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 60px;
}
.heading-contact,.heading-Certificate,.heading-skills,.heading-references,.heading-about,.heading-education,.heading-work,.heading-projects{
  margin-bottom: 8px;
  margin-top: 30px;
  font-family: Libre Franklin;
  /* font-size: 1.1rem; */
}
.heading-references{
  padding-top: 20px;
}
hr{
  margin-bottom: 20px;
  border: 1px solid rgb(206, 136, 6); 
}
.certi1,.certi2,.work-1,.work-2,.work-3{
  margin-bottom: 25px;
}
.phone,.email,.web,.address{
  margin-bottom: 17px;
}
.work-para{
  margin-bottom: 5px;
}
.heading-contact,.heading-about{
  margin-top: 19px;
}
.skill-para{
  margin-bottom: 10px;
}
.heading-references{
  margin-top: 18px;
}
.para hr{
  margin-bottom: 4px;
  border: 1px solid white;
  width: 240px;
}
.sub-para{
  padding-bottom: 44px;
}
.main-para{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 3.8px;
}
.last-name{
  letter-spacing: .1rem;
  font-size: 26px;
  color: #1d1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 69px;
  left: 91px;
}
.contact-para,.email-para,.web-para,.add-para,.achive-para,.refer-para-1,.refer-para-2{
  color: gray;
}
.sub-education strong{
  color:rgb(236, 157, 10); 
}
.work strong{
  color:rgb(236, 157, 10); 
}
.Certificate strong{
  color:rgb(236, 157, 10); 
}
.year{
  font-weight: bold;
  margin-bottom: 10px;
}

.p-link{
  color: rgb(103, 103, 218);
  margin-bottom: 10px;
}
.insta,.Twitter,.linkedin{
  display: grid;
  grid-template-columns:8% 1fr;
  column-gap: 10px;
}
.social i{
  font-size: 18px;
  position: relative;
  top: -1.5px;
}
.insta,.linkedin{
  margin-bottom: 10px;
}